.ipynb_checkpoints/
data/bitcoin_USD_close_data-2017-02-02_2018-02-02.csv
data/bitcoin_USD_close_data-2017-02-05_2018-02-05.csv
data/bitcoin_USD_close_data-2017-02-13_2018-02-13.csv
time_series_v2.ipynb
time_series_v1.ipynb